.clear {
  clear: both;
}
.left-content-wrapper {
  width: 100% !important;
}
.main-container {
  font-family: Arial;
  line-height: 40px;
  background-color: #FFFFFF;
  margin: 10px auto;
  padding: 20px;
  min-width: 980px;
  max-width: 1200px;
  position: relative;
}
.main-container * {
  outline: 0;
}
.main-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.main-container .add {
  background: url("../images/add.png") no-repeat scroll 7px 6px #afcbd4;
  border-radius: 5px;
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  width: 22px;
  cursor: pointer;
}
.main-container .button .delete {
  background-image: url('../images/delete_row.png');
  width: 102px;
  height: 38px;
  display: block;
  float: right;
  margin-top: 15px;
}
.main-container input[type='text'] {
  background-color: #fff !important;
  border-radius: 5px;
  border: 1px solid #afcbd4;
  display: inline;
  width: 115px;
  margin-right: 3px;
  line-height: 18px;
}
.main-container .comment {
  background: url("../images/comment.png") no-repeat scroll right 0 rgba(0, 0, 0, 0) !important;
  vertical-align: middle;
  background-repeat: no-repeat;
  border-radius: 5px !important;
  display: inline-block !important;
  height: 23px !important;
  line-height: 18px !important;
  padding-left: 5px !important;
  text-align: left !important;
  cursor: pointer;
}
.main-container .comment div:first-child {
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.main-container .comment div.comment_icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.main-container .top_table_block .comment.hovered {
  background: url("../images/node_select.png") no-repeat scroll right 0 rgba(0, 0, 0, 0) !important;
  border: 1px solid #eaeaea !important;
}
.main-container .top_table_block .comment.active {
  background: url("../images/node_select.png") no-repeat scroll right -22px rgba(0, 0, 0, 0) !important;
  border: 1px solid #267893 !important;
}
.main-container .top_table_block table tr.dates {
  color: #494949;
}
.main-container .top_table_block table tr.dates td:first-child {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #267893;
  padding-left: 20px;
}
.main-container .top_table_block table tr td {
  width: 3.75%;
}
.main-container .top_table_block table tr.dates input[type='checkbox'] {
  margin-right: 20px;
}
.main-container .top_table_block table tr.rec_status {
  color: #8f8f8f;
}
.main-container .top_table_block table tr.rec_status td:first-child {
  color: #333333;
  font-weight: bold;
  background-color: #fbf7f7;
  padding-left: 20px;
}
.main-container .top_table_block table tr td {
  border: 1px solid #eaeaea;
  height: 40px;
  vertical-align: middle;
}
.main-container table tr td label{
  max-width: 165px;
  height: 21px;
  overflow: hidden;
  cursor: pointer;
}
.main-container table tr td{ 
  vertical-align: middle !important;
}
.main-container table tr td:first-child{ 
  padding-top: 5px !important;
}
.main-container .top_table_block table tr td:first-child {
  text-align: left;  
}
.main-container #accordion .comment {
  border-radius: 5px !important;
  display: inline-block !important;
  height: 23px !important;
  line-height: 18px !important;
  padding-left: 5px !important;
  text-align: left !important;
  vertical-align: middle;
  cursor: pointer;
}
.main-container .comment.no-data {
  background:none !important;
}
.main-container .comment.no-data .comment_icon{
  cursor:auto;
}
.main-container #accordion .comment div:first-child {
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.main-container #accordion .comment div.comment_icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.main-container #accordion .comment.hovered {
  background: url("../images/node_select.png") no-repeat scroll right 0 rgba(0, 0, 0, 0) !important;
  border: 1px solid #eaeaea !important;
}
.main-container #accordion .comment.active {
  background: url("../images/node_select.png") no-repeat scroll right -22px rgba(0, 0, 0, 0) !important;
  border: 1px solid #267893 !important;
}
.main-container #accordion .header-line {
  display: inline-block;
  width: 100%;
  /*border: 1px solid #eaeaea;*/

  border-width: 0px 1px 1px 1px;
  border-color: #eaeaea;
  border-style: solid;
  margin: 0;
  padding: 0;
  vertical-align: top;
  border-radius: 0px !important;
}
.main-container #accordion .header-line div {
  float: left;
}
.main-container #accordion .header-line div.first-child {
  background-color: #f6faf6;
  cursor: pointer;
  width: 17.65%;
  height: 40px;
  border-right: 1px solid #eaeaea;
  padding-left: 20px;
  font-weight: bold;
}
.main-container #accordion .header-line div.btn {
  border-radius: 5px;
  color: #477A8B;
  cursor: pointer;
  height: 27px;
  line-height: 23px;
  margin-top: 6px;
  padding: 0 5px;
}
.main-container #accordion .header-line div.btn.my {
  margin: 6px 20px 0 10px !important;
}
.main-container #accordion .header-line div.btn.active {
  background-color: #E4ECF1;
  border: none !important;
  box-shadow: none !important;
}
.main-container #accordion .header-line div.btn:active {
  background: none !important;
  box-shadow: none !important;
}
.main-container #accordion table {
  color: #8f8f8f;
  font-size: 14px;
  line-height: 25px;
  border: none !important;
}
.main-container #accordion table tr {
  border: none !important;
}
.main-container #accordion table tr td {
  width: 160px;
  border-right: 1px solid #eaeaea;
  border-width: 0 1px 0 0 !important;
}
.main-container #accordion table tr td input[type='checkbox'] {
  margin: 5px 10px 4px 16px;
  float: left;
}
.main-container #accordion table tr td.none {
  color: #d3d3d3;
}
.main-container #accordion table tr td:first-child {
  text-align: left;
  width: 17.65%;
}
.main-container #accordion table .add-row {
  height: 40px;
}
.main-container #accordion table .add-row td {
  border-top: 1px solid #eaeaea;
}
.main-container #accordion table .add-row td:first-child {
  text-align: center;
  border-left: 1px solid #eaeaea;
}
.main-container #accordion table .add-row input[type='text'] {
  border-radius: 5px;
  border: 1px solid #afcbd4;
  display: inline;
  width: 115px;
  margin-right: 3px;
  padding: 3px 2px !important;
  height: 22px;
}
.main-container #accordion table .add-row .add {
  background: url("../images/add.png") no-repeat scroll 8px 8px #afcbd4;
  border-radius: 5px;
  display: inline-block;
  height: 22px;
  margin-top: -4px;
  vertical-align: middle;
  width: 24px;
}
.main-container #accordion #accordion1 span {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url('../images/add.png') no-repeat 3px 3px #267893;
  margin: 0 10px 0 20px;
}
.main-container #accordion #accordion1 span.ui-icon-triangle-1-s {
  background: url('../images/sub.png') no-repeat 3px 5px #267893;
}
.main-container .ui-accordion-content {
  border-bottom: 1px solid #EAEAEA !important;
}
.comment_block {
  width: 310px !important;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 7px 0 rgba(38, 120, 147, 0.5) !important;
  border-radius: 5px;
  color: #8f8f8f;
  font-weight: normal;
}
.comment_block .value {
  float: right;
  width: 200px;
  font-weight: normal;
}
.comment_block div {
  font-weight: bold;
  color: #535353;
  float: left;
}
.comment_block div.bottom-block {
  float: none !important;
  clear: both !important;
}
.comment_block .block_header {
  border-color: #267893;
  border-radius: 3px 3px 0 0 ;
  border-style: solid;
  border-width: 1px 1px 0;
  display: inline-block;
  width: 100%;
  padding: 5px 30px 5px 10px;
}
.comment_block .block_header #left_column_header {
  float: left;
}
.comment_block .block_header #right_column_header {
  float: right;
}
.comment_block .block_header + div {
  height: 137px;
  border-color: #267893;
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 1px;
  margin: 0 0 5px;
  width: 100%;
  float: left;
}
.comment_block .effect_main_block,
.comment_block .frequency_main_block {
  display: inline-block;
  width: 100%;
}
.comment_block .effect_main_block .row,
.comment_block .frequency_main_block .row {
  width: 100%;
  float: left;
  padding: 5px 10px 5px 10px;
  margin: 0 !important;
  border-bottom: 1px solid #CEE3EA ;
}
.effect_main_block .row {
  width: 300px !important;
}
.effect_main_block .text {
  width: 205px !important;
  display: inline-block !important;
  margin-right: 14px !important;
}
.comment_block .effect_main_block .row div,
.comment_block .frequency_main_block .row div {
  float: right;
}
.comment_block .effect_main_block .row .sbHolder,
.comment_block .frequency_main_block .row .sbHolder {
  float: right;
  height: 23px !important;
  margin-bottom: 0;
}
.comment_block .effect_main_block .row .sbHolder span,
.comment_block .frequency_main_block .row .sbHolder span {
  line-height: 1 !important;
}
.comment_block .effect_main_block .row:last-child,
.comment_block .frequency_main_block .row:last-child {
  border: none !important;
}
.comment_block .frequency_main_block {
  border: 1px solid #267893;
}
.comment_block .frequency_main_block .left_part {
  float: left;
}
.comment_block .effect_main_block .text {
  width: 200px !important;  
  display: inline-block !important;
  margin-right: 14px !important;
  float:left !important;
}
.comment_block .effect_main_block .row {
  width: 278px !important;
}
.comment_block .effect_main_block .row .value{
  float: right !important;
}

/*tooltip*/
.ui-tooltip {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.ui-tooltip .arrow:after {
  background: #fff;
  box-shadow: 0px 0px 4px 0 rgba(38, 120, 147, 0.5) !important;
}
.ui-tooltip .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -8px;
}
.ui-tooltip .arrow.top {
  top: -8px;
  bottom: auto;
}
.ui-tooltip .arrow.left {
  left: 24%;
}
.ui-tooltip .arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #000000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
.ui-tooltip .arrow.top:after {
  bottom: -20px;
  top: auto;
}
/*select box*/
.sbHolder {
  background-color: #fff !important;
  border: 1px solid #eaeaea !important;
  line-height: 1;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: left !important;
  color: #8F8F8F !important;
}
.sbHolder .sbSelector {
  color: #000 !important;
}
.sbHolder .sbToggle {
  display: block;
  background: url('../images/active.png') no-repeat 2px -2px #eaeaea !important;
  border: none;
  height: 28px !important;
}
.sbHolder .sbOptions {
  background-color: #fff !important;
  overflow: auto !important;
  margin-top: -2px !important;
}
.sbHolder .sbOptions li {
  padding: 0 !important;
  list-style: none !important;
  margin: 0 !important;
}
.sbHolder .sbOptions li .sbFocus {
  color: #8F8F8F !important;
}
.sbHolder .sbOptions li a {
  border-bottom: 1px solid #cee3ea !important;
  padding-left: 5px;
}
.sbHolder .sbOptions li a:hover {
  color: #8F8F8F ;
  background-color: #267893;
}
.sbHolder.active {
  border: 1px solid #267893 !important;
  border-radius: 5px 5px 0 0;
  background-color: #fff !important;
}
.sbHolder.active .sbToggle.sbToggleOpen {
  background: url('../images/active.png') no-repeat 2px -2px #267893 !important;
  display: block !important;
}
.sbHolder.active .sbOptions {
  border: 1px solid #267893 !important;
  height: 100px;
  border-radius: 0 0 5px 5px;
}
.rec_status .sbHolder {
  border: none;
}
.rec_status .sbHolder .sbToggle {
  display: none;
}
.dialog {
  background: #fff;
  box-shadow: 0px 0px 7px 0 rgba(38, 120, 147, 0.5) !important;
  border-radius: 5px;
  width: 340px !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  color: #535353;
}
.dialog textarea {
  background-color: #fff !important;
  height: 115px;
  margin: 4px 0 0;
  width: 310px;
  resize: none;
}
.dialog .btn {
  position: absolute;
  bottom: 0;
  margin-top: 18px;
  left: 0;
  width: 342px;
  border-top: 1px solid #eaeaea;
  padding: 10px 16px 10px 12px;
}
.dialog .btn a {
  display: block;
  height: 40px;
  width: 81px;
}
.dialog .btn a.delete {
  background-image: url('../images/delete.png');
  float: left;
}
.dialog .btn a.cancel {
  background: url("../images/cancel.png") no-repeat 0 2px;
  float: left;
  margin-left: 5px;
}
.dialog .btn a.save {
  background-image: url('../images/save.png');
  float: right;
  width: 73px;
}
.dialog input {
  background-color: #fff !important;
}
.dialog.recovery {
  min-height: 240px !important;
}
.dialog.recovery .sbHolder {
  height: 22px;
  vertical-align: top;
  float: right;
  background-color: transparent;
}
.dialog.recovery .sbHolder .sbSelector {
  height: 22px;
  line-height: 18px !important;
}
.dialog.recovery .sbHolder .sbToggle {
  height: 20px !important;
  width: 23px;
}
.dialog.recovery .sbHolder .sbOptions {
  width: 61px !important;
}
.dialog.symptom_first {
  font-weight: normal;
}
.dialog.symptom_first div {
  font-weight: bold;
}
.dialog.symptom_first div:nth-child(2) {
  margin-top: 1px;
}
.dialog.symptom_first a {
  height: 26px;
  width: 68px;
  display: inline-block;
  background-image: url(../images/defintion_icon.png);
}
.dialog.symptom_first a.message:hover {
  background-position: 0px 26px;
}
.dialog.symptom_first a.friends {
  background-position: -69px 0;
  margin-left: 4px;
}
.dialog.symptom_first a.friends:hover {
  background-position: -69px 26px;
}
.dialog.symptom_first a.prof {
  background-position: -138px 0;
  margin-left: 4px;
}
.dialog.symptom_first a.prof:hover {
  background-position: -138px 26px;
}
.dialog.symptom_first a.search {
  background-position: -207px 0;
  margin-left: 4px;
}
.dialog.symptom_first a.search:hover {
  background-position: -207px 26px;
}
.dialog.assays,
.dialog.therapies,
.dialog.lifestyle,
.dialog.symptom {
  min-height: 285px !important;
}
.dialog.assays input[type='text'],
.dialog.therapies input[type='text'],
.dialog.lifestyle input[type='text'],
.dialog.symptom input[type='text'] {
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 2px;
  width: 50px;
  margin: 0 5px;
}
.dialog.assays input[type='text']#first-child,
.dialog.therapies input[type='text']#first-child,
.dialog.lifestyle input[type='text']#first-child,
.dialog.symptom input[type='text']#first-child {
  margin-left: 30px;
  margin-right: 17px;
}
.dialog.assays .add_item,
.dialog.therapies .add_item,
.dialog.lifestyle .add_item,
.dialog.symptom .add_item {
  display: none;
  border-color: #267893;
  width: 100px !important;
  margin-bottom: 5px;
}
.dialog.assays .add,
.dialog.therapies .add,
.dialog.lifestyle .add,
.dialog.symptom .add {
  background-image: url("../images/add_icon.png") !important;
  background-position: 0 0;
  width: 31px;
  height: 31px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}
.dialog.assays .sbHolder,
.dialog.therapies .sbHolder,
.dialog.lifestyle .sbHolder,
.dialog.symptom .sbHolder {
  vertical-align: top;
  margin-bottom: 5px;
}
.dialog.assays .sbOptions,
.dialog.therapies .sbOptions,
.dialog.lifestyle .sbOptions,
.dialog.symptom .sbOptions {
  width: 111px;
}
.dialog.diagnoses,
.dialog.therapies,
.dialog.lifestyle {
  min-height: 410px !important;
}
.dialog.diagnoses .block_opened_select,
.dialog.therapies .block_opened_select,
.dialog.lifestyle .block_opened_select {
  height: 170px;
}
.dialog.diagnoses .block_opened_select + input[type='text'],
.dialog.therapies .block_opened_select + input[type='text'],
.dialog.lifestyle .block_opened_select + input[type='text'] {
  border-color: #267893;
  float: right;
  margin-top: -42px !important;
  width: 172px;
  border-radius: 0;
  margin-right: 8px !important;
  height: 31px;
}
.dialog.diagnoses .sbHolder,
.dialog.therapies .sbHolder,
.dialog.lifestyle .sbHolder {
  vertical-align: top;
}
.dialog.diagnoses .country_select + .sbHolder,
.dialog.therapies .country_select + .sbHolder,
.dialog.lifestyle .country_select + .sbHolder {
  width: 130px !important;
  border-width: 1px 0 1px 1px !important;
  border-color: #267893 !important;
  border-radius: 5px 0px 0 0 !important;
}
.dialog.diagnoses .country_select + .sbHolder .sbToggle,
.dialog.therapies .country_select + .sbHolder .sbToggle,
.dialog.lifestyle .country_select + .sbHolder .sbToggle {
  display: none;
}
.dialog.diagnoses .country_select + .sbHolder .sbOptions,
.dialog.therapies .country_select + .sbHolder .sbOptions,
.dialog.lifestyle .country_select + .sbHolder .sbOptions {
  border-color: #267893;
  width: 130px;
  display: block !important;
  height: 130px !important;
  border-radius: 0px !important;
  border-width: 1px 0 1px 1px !important;
}
.dialog.diagnoses .doctor_select + .sbHolder,
.dialog.therapies .doctor_select + .sbHolder,
.dialog.lifestyle .doctor_select + .sbHolder {
  border-width: 1px 1px 1px 1px !important;
  border-radius: 0px 5px 0 0 !important;
  margin-left: -4px;
  border-color: #267893 !important;
  width: 172px !important;
}
.dialog.diagnoses .doctor_select + .sbHolder .sbToggle,
.dialog.therapies .doctor_select + .sbHolder .sbToggle,
.dialog.lifestyle .doctor_select + .sbHolder .sbToggle {
  display: none;
}
.dialog.diagnoses .doctor_select + .sbHolder .sbOptions,
.dialog.therapies .doctor_select + .sbHolder .sbOptions,
.dialog.lifestyle .doctor_select + .sbHolder .sbOptions {
  border-color: #267893;
  width: 172px;
  display: block !important;
  height: 100px !important;
  border-radius: 0px !important;
}
.dialog.diagnoses .add_doctor,
.dialog.therapies .add_doctor,
.dialog.lifestyle .add_doctor {
  left: 291px;
  position: absolute;
  top: 204px;
  color: #cdcdcd;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
  font-weight: bold;
}
.dialog.therapies,
.dialog.lifestyle {
  min-height: 700px !important;
}
.dialog.therapies input[type='text'],
.dialog.lifestyle input[type='text'] {
  float: none;
  margin: 0 !important;
}
.dialog.therapies .add_doctor,
.dialog.lifestyle .add_doctor {
  top: 286px;
}
.dialog.therapies label,
.dialog.lifestyle label {
  margin: 5px 0;
}
.dialog.therapies .block_header,
.dialog.lifestyle .block_header {
  border-color: #267893;
  border-radius: 3px 3px 0 0 ;
  border-style: solid;
  border-width: 1px 1px 0;
  display: inline-block;
  width: 100%;
  padding: 5px 30px 5px 10px;
}
.dialog.therapies .block_header #left_column_header,
.dialog.lifestyle .block_header #left_column_header {
  float: left;
}
.dialog.therapies .block_header #right_column_header,
.dialog.lifestyle .block_header #right_column_header {
  float: right;
}
.dialog.therapies .block_header + div,
.dialog.lifestyle .block_header + div {
  height: 137px;
  border-color: #267893;
  border-radius: 0 0 3px 3px;
  border-style: solid;
  border-width: 1px;
  margin: -4px 0 5px 0;
  width: 310px !important;
}
.dialog.therapies .effect_main_block,
.dialog.lifestyle .effect_main_block,
.dialog.therapies .frequency_main_block,
.dialog.lifestyle .frequency_main_block {
  display: inline-block;
}
.dialog.therapies .effect_main_block .row,
.dialog.lifestyle .effect_main_block .row,
.dialog.therapies .frequency_main_block .row,
.dialog.lifestyle .frequency_main_block .row {
  width: 100%;
  float: left;
  padding: 5px 10px 5px 10px;
  margin: 0 !important;
  border-bottom: 1px solid #CEE3EA;
}
.dialog.therapies .effect_main_block .row .sbHolder,
.dialog.lifestyle .effect_main_block .row .sbHolder,
.dialog.therapies .frequency_main_block .row .sbHolder,
.dialog.lifestyle .frequency_main_block .row .sbHolder {
  float: right;
  height: 23px !important;
  margin-bottom: 0;
}
.dialog.therapies .effect_main_block .row .sbHolder .sbToggle,
.dialog.lifestyle .effect_main_block .row .sbHolder .sbToggle,
.dialog.therapies .frequency_main_block .row .sbHolder .sbToggle,
.dialog.lifestyle .frequency_main_block .row .sbHolder .sbToggle {
  height: 22px !important;
}
.dialog.therapies .effect_main_block .row .sbHolder .sbSelector,
.dialog.lifestyle .effect_main_block .row .sbHolder .sbSelector,
.dialog.therapies .frequency_main_block .row .sbHolder .sbSelector,
.dialog.lifestyle .frequency_main_block .row .sbHolder .sbSelector {
  line-height: 20px;
}
.dialog.therapies .effect_main_block .row .sbHolder .sbOptions,
.dialog.lifestyle .effect_main_block .row .sbHolder .sbOptions,
.dialog.therapies .frequency_main_block .row .sbHolder .sbOptions,
.dialog.lifestyle .frequency_main_block .row .sbHolder .sbOptions {
  width: 61px !important;
  margin-top: -9px !important;
}
.dialog.therapies .effect_main_block .row:last-child,
.dialog.lifestyle .effect_main_block .row:last-child,
.dialog.therapies .frequency_main_block .row:last-child,
.dialog.lifestyle .frequency_main_block .row:last-child {
  border: none !important;
}
.dialog.lifestyle,
.dialog.symptom {
  min-height: 510px !important;
}
.dialog.lifestyle .frequency_main_block,
.dialog.symptom .frequency_main_block {
  border: 1px solid #267893;
}
.dialog.lifestyle .frequency_main_block .row,
.dialog.symptom .frequency_main_block .row {
  padding: 0px 10px;
  margin: 0px;
  border-bottom: 1px solid #267893;
}
.dialog.lifestyle .frequency_main_block .row label,
.dialog.symptom .frequency_main_block .row label {
  margin: 0 !important;
  width: 100%;
}
.dialog.lifestyle .frequency_main_block .row label input[type='checkbox'],
.dialog.symptom .frequency_main_block .row label input[type='checkbox'] {
  float: right;
}
.dialog.lifestyle .frequency_main_block .row .right_part,
.dialog.symptom .frequency_main_block .row .right_part {
  width: 100px;
  float: left;
  padding: 3px 0;
  border-right: 1px solid #267893;
}
.dialog.symptom {
  min-height: 260px !important;
}
.dialog.symptom .sbHolder {
  width: 180px !important;
}
.dialog.symptom .sbHolder .sbOptions {
  width: 180px !important;
}
.dialog.therapies .every_day_div {
  margin-left: 70px;
}
.dialog.therapies .every_day_div input {
  margin-left: 5px !important;
}
.dialog.therapies input {
  background-color: #fff !important;
}
/*jscroll*/
.jspVerticalBar .jspTrack {
  background-color: #cee3ea;
}
.jspVerticalBar .jspDrag {
  background-color: #267893;
  margin: 0 2px;
}
/*jquery dialog*/
.ui-dialog-titlebar-close {
  display: none;
}
/*pop-up*/
.pop-up {
  background-color: rgba(81, 147, 169, 0.8);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 220px;
}
.pop-up .pop-up-inner-block {
  background-color: #FEFEFE;
  border-radius: 5px;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.pop-up .pop-up-inner-block .header_line {
  display: inline-block;
  width: 100%;
}
.pop-up .pop-up-inner-block .header_line .header {
  color: #797979;
  font-size: 28px;
  line-height: 26px;
  float: left;
}
.pop-up .pop-up-inner-block .header_line .icons {
  float: right;
}
.pop-up .pop-up-inner-block .header_line .icons div {
  background-image: url("../images/popup_icons.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 43px;
  display: block;
  float: left;
}
.pop-up .pop-up-inner-block .header_line .icons .topics.curent {
  background-position: 0 -42px;
}
.pop-up .pop-up-inner-block .header_line .icons .posts {
  background-position: -50px 0;
}
.pop-up .pop-up-inner-block .header_line .icons .posts.curent {
  background-position: -50px -42px;
}
.pop-up .pop-up-inner-block .header_line .icons .sarch {
  background-position: -100px 0;
}
.pop-up .pop-up-inner-block .header_line .icons .sarch.curent {
  background-position: -100px -42px;
}
.pop-up .pop-up-inner-block hr {
  border-color: #eaeaea;
  left: 0;
  position: absolute;
  width: 100%;
  margin: 0;
}
.pop-up .pop-up-inner-block p:first-child {
  color: #b93259;
  font-size: 28px;
  line-height: 26px;
  float: left;
}
.pop-up .pop-up-inner-block p {
  color: #535353;
  font-size: 14px;
  float: right;
  line-height: 30px;
}
.pop-up .pop-up-inner-block span {
  color: #535353;
  text-align: left;
}
.pop-up .pop-up-inner-block a {
  display: block;
  height: 38px;
  margin-top: 10px;
}
.pop-up .pop-up-inner-block a.delete_accept {
  background-image: url('../images/delete_accept.png');
  float: left;
  width: 107px;
}
.pop-up .pop-up-inner-block a.cancel_delete {
  background-image: url('../images/cancel_delete.png');
  float: right;
  width: 114px;
}
.pop-up#error_data_entry .pop-up-inner-block {
  text-align: left;
}
.pop-up#error_data_entry .pop-up-inner-block p:first-child {
  width: 240px;
}
.pop-up#details {
  padding-top: 110px;
}
.pop-up#details .main_content {
  margin-top: 10px;
}
.pop-up#details .main_content .line {
  line-height: 18px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
  width: 740px;
  display: inline-block;
}
.pop-up#details .main_content .line .left_part {
  float: left;
}
.pop-up#details .main_content .line .left_part p {
  margin: 0;
}
.pop-up#details .main_content .line .left_part p:first-child {
  color: #a5a5a5;
}
.pop-up#details .main_content .line .left_part p:first-child span {
  color: #267893;
  font-weight: bold;
}
.pop-up#details .main_content .line .left_part p {
  color: #bdbdbd;
  font-size: 12px;
  float: left;
}
.pop-up#details .main_content .line .left_part p span {
  color: #82b3c3;
  font-weight: bold;
}
.pop-up#details .main_content .line .right_part {
  float: right;
  color: #a5a5a5;
  line-height: 26px;
}
.pop-up#search {
  padding-top: 110px;
}
.pop-up#search .header {
  display: inline-block;
  width: 100%;
}
.pop-up#search .header p {
  color: #797979;
}
.pop-up#search .header p span {
  color: #267893;
}
.pop-up#search .bordered_block {
  border: 1px solid #AFCBD4;
  color: #267893;
  font-size: 22px;
  line-height: 26px;
  margin-top: 10px;
  text-align: left;
  padding: 10px 10px;
  font-style: italic;
}
.pop-up#search .bordered_block .search {
  background-image: url("../images/search_bar_icons.png");
  cursor: pointer;
  float: right;
  height: 24px;
  width: 26px;
  background-position: 0 -26px;
}
.pop-up#search .bordered_block .search:close {
  background-position: 0 0px;
  height: 26px;
}
.pop-up#search .line {
  line-height: 18px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
  width: 740px;
  display: inline-block;
}
.pop-up#search .line p {
  margin: 0;
}
.pop-up#search .line p:first-child {
  color: #a5a5a5;
  text-align: left;
}
.pop-up#search .line p:first-child span {
  color: #267893;
  font-weight: bold;
}
.pop-up#search .line p {
  color: #bdbdbd;
  font-size: 12px;
  float: left;
}
.pop-up#search .line p span {
  color: #82b3c3;
  font-weight: bold;
}
.pop-up#search .line .assay_btn {
  background-color: #E4ECF1;
  border-radius: 5px;
  font-size: 11px;
  float: left;
  color: #267893;
  padding: 0 11px;
  vertical-align: middle;
  margin-top: 6px;
  margin-right: 5px;
  cursor: pointer;
}
.pop-up#column_delete span {
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-top: 10px;
}
.pop-up#row_delete span {
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  margin-top: 10px;
}
.loader{
  opacity: 0.4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: #000;
}
#fade {
  display:block;
}
.spinner {
  margin: 300px auto;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
