body{
	background-color: #f0f0ed;
	font-family: Arial;
	line-height: 40px;
	margin: 0;
	padding: 0;
	.clear{
		clear: both;
	}
	table{
	    width: 100%;
	   	text-align: center;
    	border-collapse: collapse;
	}
	.add{
		background: url("../images/add.png") no-repeat scroll 7px 6px #AFCBD4;
		border-radius: 5px;
		display: inline-block;
		height: 21px;
		vertical-align: middle;
		width: 22px;
	}
	.header{
		.header_wrapper{
			background-color: #33363c;
			border-bottom: 1px #404349 solid;
			width: 100%;
		}
		.header_menu_block{
			background-color: #33363c;
			width: 100%;
			display: inline-block;
			.center_wrapper{
				width: 1200px;
				margin: 0 auto;
				.menu_nuv{
					float: left;
					ul{
						margin: 20px 0;
						padding: 0;
						li{
							display: inline-block;
							a{
								color: #FFFFFF;
								padding: 15px;
								text-decoration: none;
								border-radius: 5px;
								line-height: bold;
								&.current{
									background-color: #FFFFFF;
									color: #34819a;
								}
							}
						}
					}
				}
				.search_bar{
					float: right;
					margin: 19px 0;
					input[type='text']{
						background-color: #232528;
					    border: 1px solid #000000;
					    border-radius: 5px 0 0 5px;
					    color: #FFFFFF;
					    font-style: italic;
					    height: 37px;
					    padding-left: 5px;
					    width: 267px;
					}
					input[type='button']{
						border: none;
					}
				}
			}
		}
	}
	.main-container{
		background-color: #FFFFFF;
	    margin: 10px auto;
	    padding: 20px;
	    width: 1160px;
	    input[type='text']{
		    border-radius: 5px;
		    border: 1px solid #afcbd4;
		    display: inline;
		    width: 115px;
		    margin-right: 3px;
		}
		.comment{
		    background-image: url(../images/comment.png) !important;
		    width: 22px !important;
		    display: inline-block !important;
		    height: 22px !important;
		    background-position: 0 -19px;
		    vertical-align: middle;
		    &.add{
		    	background-position: 0 2px;
		    	background-color: transparent;
		    }
		}
	    .top_table_block{
	    	table{
		    	tr{
		    		&.dates{
		    			color: #494949;
		    			td:first-child{
		    				color: #FFFFFF;
		    				font-weight: bold;
		    				background-color: #267893;
		    				padding-left: 20px;
		    			}
		    			input[type='checkbox']{
		    				margin-right: 20px;
		    			}
		    		}
		    		&.rec_status{
		    			color: #8f8f8f;
		    			td:first-child{
		    				color: #333333;
		    				font-weight: bold;
		    				background-color: #fbf7f7;
		    				padding-left: 20px;
		    			}
		    		}
		    		td{
			    		border: 1px solid #eaeaea;
			    		&:first-child{
			    			text-align: left;
			    		}
			    	}
		    	}
		    }
	    }
	    #accordion{
	    	.header-line{
	    		display: inline-block;
	    		width: 100%;
    			border: 1px solid #eaeaea;
    			margin: 0;
    			padding: 0;
    			vertical-align:top;
    			border-radius: 0px !important;
    			border-width: 0 1px 1px 1px;
	    		div{
	    			float: left;
	    		}
	    		div.first-child{
	    			background-color: #f6faf6;
	    			cursor: pointer;
	    			width: 171px;
	    			height: 40px;
	    			border-right: 1px solid #eaeaea;
	    			padding-left: 20px;
	    			font-weight: bold;
	    		}
	    		div.btn{
	    			background-color: #E4ECF1;
				    border-radius: 5px;
				    color: #477A8B;
				    cursor: pointer;
				    height: 27px;
				    line-height: 23px;
				    margin-top: 6px;
				    padding: 0 5px;
				    &.my{
				    	margin: 6px 20px 0 10px !important;
				    }
	    		}
	    	}
	    	table{
	    		color: #8f8f8f;
	    		font-size: 14px;
	    		line-height: 25px;
	    		tr{
	    			td{
						width: 160px;
		    			border-right: 1px solid #eaeaea;
		    			input[type='checkbox']{
		    				margin: 2px 10px 4px 20px;
		    			}
		    			&.none{
		    				color: #d3d3d3;
		    			}
		    			&:first-child{
			    			text-align: left;
			    			width: 192px;
			    		}
		    		}
				}
				&.lifestyle{
				  tr:last-child{
				  	border-bottom: 1px solid #eaeaea;
				  }
				}
				.add-row{
					height: 40px;
					td{
						border-top: 1px solid #eaeaea;
						&:first-child{
							text-align: center;
							border-left: 1px solid #eaeaea;
						}
					}
					input[type='text']{
			    		border-radius: 5px;
			    		border: 1px solid #afcbd4;
			    		display: inline;
			    		width: 115px;
			    		margin-right: 3px;
			    	}
			    	.add{
			    		background: url("../images/add.png") no-repeat scroll 7px 6px #AFCBD4;
						border-radius: 5px;
						display: inline-block;
						height: 21px;
						margin-top: -4px;
						vertical-align: middle;
						width: 22px;
			    	}	
				}
			}
	    	#accordion1{
	    		span{
	    			width: 14px;
	    			height: 14px;
	    			display: inline-block;
	    			background: url('../images/add.png') no-repeat 3px 3px #267893; 
	    			margin: 0 10px 0 20px;
	    		}
	    	}
	    }
	}
}
.dialog{
	background: #fff;
	box-shadow:  0px 0px 7px 0 rgba(38, 120, 147, 0.5) !important;
	border-radius: 5px;
	width: 310px !important;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	padding: 15px;
	color: #535353;
	textarea{
		height: 115px;
		margin: 4px 0 0;
		width: 303px;
		resize: none;
	}
	.btn{
		position: absolute;
		bottom: 0;
		margin-top: 18px;
		left: 0;
		width: 105%;
		border-top: 1px solid #eaeaea;
		padding: 15px 16px 15px 12px;
		a{
			display: block;
			height: 40px;
			width: 81px;
			&.delete{
				background-image: url('../images/delete.png');
				float: left;
			}
			&.cancel{
				background: url("../images/cancel.png") no-repeat 0 2px;
				float: left;
				margin-left: 5px;
			}
			&.save{
				background-image: url('../images/save.png');
				float: right;
				width: 73px;
			}
		}
	}
}
.comment_block{
	width: 310px !important;
	font-size: 14px;
	line-height: 18px;
	padding: 15px;
	background: #fff;
	box-shadow:  0px 0px 7px 0 rgba(38, 120, 147, 0.5) !important;
	border-radius: 5px;
	color: #8f8f8f;
	font-weight: normal;
	.value{
		float: right;
	    width: 215px;
	}
	div{
		font-weight: bold;
		color: #535353;
		float: left;
	}
}
/*tooltip*/
.ui-tooltip{
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.arrow:after {
	background: #fff;
	box-shadow:  0px 0px 4px 0 rgba(38, 120, 147, 0.5) !important;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -8px;
}
.arrow.top {
	top: -8px;
	bottom: auto;
}
.arrow.left {
	left: 24%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
/*select box*/
.rec_status .selectBox-dropdown{
	background: none;
	border: none;
	line-height: 1;
	.selectBox-arrow{
		display: none;
		background: url('../images/active.png') no-repeat 2px -2px #eaeaea;
		border: none;
	}
}

/*.selectBox-options{
	display: block !important;
}*/
.rec_status .selectBox-active,.selectBox-menuShowing{
	border: 1px solid #267893 !important;
	.selectBox-arrow{
		background: url('../images/active.png') no-repeat 2px -2px #267893 !important;
		display: block !important;
	}
	.selectBox-dropdown-menu{
		border: 1px solid #267893 !important;
	}
}
.selectBox-menuShowing{
	min-width:70px !important;
	a{
		border:none !important;
	}
}
.dialog.recovery{
	min-height: 215px !important;
}
.dialog.assays{
	min-height: 285px !important;
	input[type='text']{
		border: 1px solid #EAEAEA;
	    border-radius: 3px;
	    font-size: 16px;
	    padding: 4px 2px;
	    width: 50px;
	    margin: 0 5px;
	}
	input[type='text']#first-child{
    	margin-left: 30px;
    	margin-right: 17px;
    }
    /*span{
    	color: red;
    }*/
	.add_item{
		display: none;
		border-color: #267893;
		width: 100px !important;
	}
	.add{
		background-image: url("../images/add_icon.png") !important;
	    background-position: 0 0;
	    width: 31px;
	    height: 31px;
	    vertical-align: top;
	}
	.selectBox-dropdown{
		border: 1px solid #eaeaea !important;
		background: none;
		width: 110px !important;
		height: 30px !important;
		vertical-align: top;
		margin-bottom: 8px;
		.selectBox-arrow{
			background: url('../images/active.png') no-repeat 2px -2px #eaeaea;
			border: none;
		}
	}
	.selectBox-active,.selectBox-menuShowing{
		border: 1px solid #267893 !important;
		.selectBox-arrow{
			background: url('../images/active.png') no-repeat 2px -2px #267893 !important;
			display: block !important;
		}
		.selectBox-dropdown-menu{
			border: 1px solid #267893 !important;
			width: 200px !important;
		}
	}
}
.dialog.diagnoses{
	min-height: 380px !important;
	input[type='text']{
		float: left;
		border-color: #267893;
		border-style: solid;
		border-width: 1px;
		&#country{
			border-width: 1px 0px 0 1px !important;
			border-radius: 3px 0px 0 0;
			width: 135px;
		}
		&#doctor{
			border-width: 1px 1px 0px 1px !important;
			border-radius: 0px 3px 0 0;
			width: 172px;
		}
	}
	.selectBox-menuShowing + input[type='text']{
		float: right;
	    margin-top: -26px;
	    width: 172px;
	}
	.selectBox.selectBox-menuShowing{
		vertical-align: top;
		border-radius: 0px;
	}
	#country_select + .selectBox.selectBox-menuShowing{
		width: 135px !important;
		border-width: 1px 0 1px 1px !important;
	}
	#doctor_select + .selectBox.selectBox-menuShowing{
		border-width: 1px !important;
		border-width: 1px 1px 1px 1px !important;
		margin-left: -4px;
		width: 172px !important;
	}
	.add_doctor{
		height: 20px;
	    left: 300px;
	    position: absolute;
	    top: 196px;
	    width: 20px;
	    background-image: url(../images/add_icon.png);
	}
}
/*jscroll*/
.selectBox-dropdown-menu{
	overflow: auto !important;
}
.jspVerticalBar{
	.jspTrack{
		background-color: #cee3ea;
	}
	.jspDrag{
		background-color: #267893;
	}
}
/*jquery dialog*/
.ui-dialog-titlebar-close {
	display: none;
}